<app-navigation></app-navigation>

<app-header></app-header>

<main>
  <section class="grid h-[300px] w-full place-items-center bg-white pt-24">
    <div
      class="relative shadow-2xl grid h-[500px] w-[90%] max-w-[1000px] overflow-hidden rounded-xl bg-white sm:grid-cols-2"
    >
      <div
        class="bg-black-300/30 sm:text-black-300 absolute flex h-full w-full flex-col justify-end pl-12 pr-10 pb-16 text-white sm:relative sm:justify-center sm:bg-white"
      >
        <h3 class="text-lg">What is Quickfoods?</h3>

        <h2 class="mt-16 w-[60%] text-4xl font-semibold sm:mt-28">
          Delivered.
        </h2>

        <p class="mt-5 text-lg sm:text-lg text-gray-500">
          Wolt makes it incredibly easy for you to discover and get what you
          want. Delivered to you - quickly, reliably and affordably.
        </p>
      </div>

      <div class="h-full w-full overflow-hidden">
        <img
          class="h-full w-full object-cover object-center"
          src="/assets/img/video-cover-image-4.jpg"
          alt="Quickfoods"
        />
      </div>
    </div>
  </section>

  <section class="h-[300px] w-full bg-gray-100"></section>

  <section class="h-auto w-full bg-gray-100 text-center text-lg font-semibold">
    <div class="max-w-5xl px-4 py-14 mx-auto">
      <section class="p-8 bg-gray-100 rounded-lg">
        <div class="grid grid-cols-1 gap-12 sm:grid-cols-3 sm:items-center">
          <div class="relative">
            <h1 class="text-9xl">Q</h1>
          </div>

          <blockquote class="sm:col-span-2">
            <h3 class="font-medium">Did you Know?</h3>
            <p class="text-xl font-medium sm:text-2xl">
              Getting home-delivered food is more than your life made easy. When
              you order with Quickfoods, you help thousands of hard-working
              restaurant and store owners and couriers make a living.
            </p>

            <cite class="inline-flex items-center mt-8 not-italic">
              <span class="hidden w-6 h-px bg-gray-400 sm:inline-block"></span>
              <p class="text-sm text-gray-500 sm:ml-3">
                <strong>Quickfoods.ng</strong>
              </p>
            </cite>
          </blockquote>
        </div>
      </section>
    </div>
  </section>

  <section class="h-auto w-full bg-white">
    <section>
      <div class="px-4 py-16 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
        <div
          class="grid grid-cols-1 lg:grid-cols-2 lg:max-h-[800px] lg:h-screen"
        >
          <div class="relative z-10 lg:py-16">
            <div class="relative h-64 sm:h-80 lg:h-full">
              <img
                class="absolute inset-0 object-cover w-full h-full bg-white"
                src="/assets/img/front-cells.png"
                alt="Quickfoods Mobile app"
              />
            </div>
          </div>

          <div class="relative flex items-center bg-white rounded-lg">
            <div class="p-8 sm:p-16 bg-gray-100 lg:p-24">
              <h2 class="text-3xl font-bold sm:text-5xl">
                Honey, we’re not cooking tonight
              </h2>

              <p class="mt-4 text-gray-600">
                Get the Apple-awarded Wolt app and choose from 40,000
                restaurants and hundreds of stores in 20+ countries. Discover
                and get what you want – our courier partners bring it to you.
              </p>

              <div
                class="mt-4 text-center text-white lg:text-left lg:text-lg flex gap-3"
              >
                <img
                  src="/assets/img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
                  alt="Apple Store badge"
                />
                <img
                  width="120px"
                  src="/assets/img/google-play-badge_en.png"
                  alt="Google play badge"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section
    class="h-auto py-14 px-5 w-full flex flex-wrap justify-center gap-10"
  >
    <div class="h-auto w-[300px] bg-gray-100 rounded-xl min-w-[270px]">
      <div class="h-[390px] w-full overflow-clip rounded-t-2xl">
        <img
          class="h-full w-full object-cover object-center"
          src="/assets/img/courier-card-image.jpg"
          alt="Job"
        />
      </div>

      <div class="text-center p-8 space-y-2 h-[150px]">
        <h2 class="text-lg font-medium">Get paid as a courier partner</h2>
        <button
          class="rounded-lg bg-blue-600 px-2 py-2 text-sm font-medium text-white shadow hover:opacity-70 focus:outline-none focus:ring active:opacity-50"
        >
          Apply Now
        </button>
      </div>
    </div>

    <div class="h-auto w-[300px] bg-gray-100 rounded-xl min-w-[270px]">
      <div class="h-[390px] w-full overflow-clip rounded-t-2xl">
        <img
          class="h-full w-full object-cover object-center"
          src="/assets/img/restaurant-card-image.jpg"
          alt="job"
        />
      </div>

      <div class="text-center p-5 space-y-2 h-[150px]">
        <h2 class="text-lg font-medium">
          Serve more people as a restaurant partner
        </h2>
        <button
          class="rounded-lg bg-blue-600 px-2 py-2 text-sm font-medium text-white shadow hover:opacity-70 focus:outline-none focus:ring active:opacity-50"
        >
          Apply Now
        </button>
      </div>
    </div>

    <div class="h-auto w-[300px] bg-gray-100 rounded-xl min-w-[270px]">
      <div class="h-[390px] w-full overflow-clip rounded-t-2xl">
        <img
          class="h-full w-full object-cover object-center"
          src="/assets/img/jobs-card-image.jpg"
          alt="job"
        />
      </div>

      <div class="text-center p-5 space-y-2 h-[150px]">
        <h2 class="text-lg font-medium">
          Enter a new chapter and find a job at Quickfoods
        </h2>
        <button
          class="rounded-lg bg-blue-600 px-2 py-2 text-sm font-medium text-white shadow hover:opacity-70 focus:outline-none focus:ring active:opacity-50"
        >
          Apply Now
        </button>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
