<app-navigation></app-navigation>

<main>
  <!-- Location button -->
  <section>
    <span></span>
    <p>Yaba</p>
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5s h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 8.25l-7.5 7.5-7.5-7.5"
        />
      </svg>
    </span>
  </section>

  <!-- Discover carousel's -->

  <!-- Restaurant Title with area and filter button -->
  <section>
    <p>Restaurant - Yaba</p>
    <span></span>
  </section>

  <!-- Category Component -->

  <!-- Restaurant Component -->
</main>

<app-footer></app-footer>
