<nav class="w-full shadow-sm bg-transparent">
  <div
    class="max-w-[1300px] mx-auto px-4 py-2 w-full flex flex-nowrap justify-between items-center gap-x-3 bg-transparent"
  >
    <!-- Logo -->
    <app-logo></app-logo>

    <!-- Search -->
    <div>
      <app-search *ngIf="searchSection"></app-search>
    </div>

    <!-- Menu -->
    <app-nav-menu></app-nav-menu>
  </div>
</nav>

<!-- <nav
  class="flex items-center justify-between p-4 max-w-screen-xl mx-auto gap-x-3"
>
  <span class="font-medium">Quikfoods</span>

 

  </nav> -->
