<nav
  class="p-4 w-full flex flex-nowrap justify-between items-center gap-x-3 shadow-md"
>
  <!-- Logo -->
  <app-logo></app-logo>

  <!-- Search -->
  <div>
    <!-- <app-search></app-search> -->
  </div>

  <!-- Menu -->
  <app-nav-menu></app-nav-menu>
</nav>

<!-- <nav
  class="flex items-center justify-between p-4 max-w-screen-xl mx-auto gap-x-3"
>
  <span class="font-medium">Quikfoods</span>

  <div class="hidden">
    <form class="mb-0 flex">
      <div class="relative">
        <input
          class="h-10 w-full sm:w-[50vw] max-w-[500px] rounded-lg border-gray-200 bg-gray-200 pr-10 pl-4 text-sm placeholder-gray-500 outline-2 outline-blue-600 focus:z-10"
          placeholder="Search..."
          type="text"
        />

        <button
          class="absolute inset-y-0 right-0 mr-px rounded-r-lg p-2 text-gray-600"
          type="submit"
        >
          <svg
            class="h-5 w-5"
            fill="currentColor"
            viewbox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
    </form>
  </div>

  </nav> -->
